!!!
html
  head
    title= title
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(src="/javascripts/less.min.js")
  body
    h1= title
    != body

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/application.js")
