!!!
html
  head
    title= title
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(src="/javascripts/less.min.js")

    script(src="/javascripts/jquery-1.7.2.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/application.js")
  body
    h1= title
    != body
