link(href="/stylesheets/anim.css", rel="stylesheet", type="text/css")
script
  $(document).ready(function() {
    $('.hover').hover(function() {
        $(this).toggleClass('flip');
    });
  });

h3
  |Hello #{user}

h4
  |Here are the cards in this deck
each card in cards
  div(class="card hover panel")
    div(class="back")
      img(src="/images/cricket.jpg")
    div(class="front")
      h5= card.name
      ul
        each attr in card.playable_attrs
          each val, key in attr
            li
              span(class="key")
                | #{key}
              span(class="value")
                | #{val}
